@model FT.MvcApp.FairyTales.Models.SingleViewModel

@{
    ViewBag.Title = Model.Title;

    var fairyTale = Model.FairyTale;
}

<article>
    <header>
        <h1>@fairyTale.Title</h1>
        @Html.Partial("Tags", fairyTale.Tags)
    </header>
    
    @Html.Raw(fairyTale.Text)
</article>