@model FT.MvcApp.FairyTales.Models.SingleViewModel

@{
    ViewBag.Title = Model.Title;

    var fairyTale = Model.FairyTale;
}

<article>
    <header>
        <h1>@fairyTale.Title</h1>
        <p>
            @foreach (var tag in fairyTale.Tags)
            {
                @Html.ActionLink(tag.Title, "Single", "Tags", new {id = tag.Id}, null)
            }
        </p>
    </header>
    
    @Html.Raw(fairyTale.Text)
</article>