@model FT.MvcApp.Home.Models.AuthorsViewModel

@{
    ViewBag.Title = Model.Title;
}

<h1>Приглашаем авторов</h1>

<p>Здравствуй, уважаемый читатель!</p>

<p>Возможно тебе будет интересно узнать, что мы всегда рады новым сказкам и особенно авторам!</p>

<p>Если у тебя есть любимая детская сказка или ты пишешь их сам, стишок или рассказ и ты хочешь, чтобы их прочитали другие - присылай их по адресу webmaster@vskazki.ru или нажми <a href="mailto:webmaster@vskazki.ru">здесь.</a></p>

<p>Не забудь в письме указать авторство сказки и данные о себе, чтобы мы могли рассказать, кто нам её прислал.</p>

<p><b style="font-weight: bold">Спасибо</b> что ты с нами!</p>