@model FT.MvcApp.Home.Models.IndexViewModel

@{
    ViewBag.Title = Model.Title;
}

@foreach (var ft in Model.RandomFairyTales) {
    <div>        
        <span>@Html.ActionLink(ft)</span>        
        <div>@ft.Text</div>
    </div>
}