@model FT.MvcApp.Home.Models.IndexViewModel

@{
    ViewBag.Title = Model.Title;

    var fairyTales = Model.RandomFairyTales;
}

<section>
    @foreach (var ft in fairyTales) {
        @Html.Partial("FairyTale", ft)
    }

    <nav class="pager">
        @Html.Pager(fairyTales.PageSize, fairyTales.PageNumber, fairyTales.TotalItemCount).Options(x=> x.MaxNrOfPages(4))
    </nav>
</section>

<article>
    @Html.Partial("SiteDescription")
</article>