@model FT.MvcApp.Home.Models.IndexViewModel

@{
    ViewBag.Title = Model.Title;

    var fairyTales = Model.RandomFairyTales;
}

<!--noindex-->
    <section>
        <header>
            <h2>Указатель</h2>
        </header>

        @{
            Html.RenderAction("Index", "AlphaIndex");
        }
    </section>

    <section>
        @foreach (var ft in fairyTales)
        {
            @Html.Partial("FairyTale", ft)
        }
        
        @if (fairyTales.PageCount > 1)
        {
            <nav class="pager">
                @Html.Pager(fairyTales.PageSize, fairyTales.PageNumber, fairyTales.TotalItemCount).Options(o =>
                {
                    o.MaxNrOfPages(4);
                    o.HidePreviousAndNextPage();
                })
            </nav>
        }
    </section>
<!--/noindex-->

<article>
    @Html.Partial("SiteDescription")
</article>