@model FT.MvcApp.Home.Models.IndexViewModel

@{
    ViewBag.Title = Model.Title;

    var fairyTales = Model.RandomFairyTales;
}

<h1>Случайные сказки</h1>

@foreach (var ft in fairyTales) {
    @Html.Partial("FairyTale", ft)
}

<div class="pager">
    @Html.Pager(fairyTales.PageSize, fairyTales.PageNumber, fairyTales.TotalItemCount)
</div>

<div class="section">
    @Html.Partial("SiteDescription")
</div>