@model FT.MvcApp.Home.Models.SearchViewModel

@{
    ViewBag.Title = Model.Title;
}

<h1>Поиск</h1>

<div>Результаты поиска по запросу % @Model.Term %</div>
<div>Текущая страница: @Model.CurrentPage</div>

@foreach (var ft in Model.FoundFairyTales)
{
    @Html.Partial("FairyTale", ft)
}

@Html.ActionLink("1", "Search", new {  term = Model.Term, page = Model.CurrentPage })