@model FT.MvcApp.Home.Models.SearchViewModel

@{
    ViewBag.Title = Model.Title;

    var fairyTales = Model.FoundFairyTales;
}

<h1>Поиск</h1>

<div>
    Найдено @fairyTales.TotalItemCount сказок
</div>

@foreach (var ft in fairyTales)
{
    @Html.Partial("FairyTale", ft)
}

<div class="pager">
    @Html.Pager(fairyTales.PageSize, fairyTales.PageNumber, fairyTales.TotalItemCount).Options(o=>o.AddRouteValue("term", Model.Term))
</div>