@model FT.MvcApp.Tags.Models.IndexViewModel

@{
    ViewBag.Title = Model.Title;
}

<header>
    <h1>Популярные теги</h1>
    <p>На этой странице упорядочены по количеству сказок все теги (категории), которые вы сможете найти на нашем сайте.</p>
</header>

@Html.Partial("TagsByType",
    new TagsByTypeViewModel {
        Type = TagType.Author,
        Tags = Model.Tags
    })

@Html.Partial("TagsByType",
    new TagsByTypeViewModel {
        Type = TagType.Folk,
        Tags = Model.Tags
    })

@Html.Partial("TagsByType",
    new TagsByTypeViewModel {
        Type = TagType.Other,
        Tags = Model.Tags
    })