@model FT.MvcApp.Tags.Models.IndexViewModel

@{
    ViewBag.Title = Model.Title;
}

<header>
    <h1>Популярные теги</h1>
    <p>На этой странице упорядочены по популярности все теги (категории) сказок, которые вы сможете найти на нашем сайте.</p>
</header>

<section>
    <p class="tags">
        @foreach (var tag in Model.Tags)
        {
            <span>(@tag.FairyTalesCount)</span>
            @Html.ActionLink(tag.Title, "Single", "Tags", new { id = tag.Id }, new { @class = "tag" })
        }
    </p>
</section>