@model FT.MvcApp.Tags.Models.SingleViewModel

@{
    ViewBag.Title = Model.Title;

    var tag = Model.Tag;
    var fairyTales = Model.FairyTales;
}

<header>
    <h1>@tag.Title</h1>
    <p>@tag.Description</p>
</header>

<section>
    @foreach (var ft in fairyTales) {
        @Html.Partial("FairyTale", ft)
    }

    <nav class="pager">
        @Html.Pager(fairyTales.PageSize, fairyTales.PageNumber, fairyTales.TotalItemCount)
    </nav>
</section>