body{
	max-width:1024px;
	margin:0 auto;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:15px;
}

p {
    line-height: 22px;
    margin: 16px;
}

.tag {
    margin: 0 5px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}