body{
	max-width:1024px;
	margin:0 auto;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:15px;
}

h1{
	font-size:24px;
	color:#474646;
	margin-top:4px;
	font-weight:normal;
}

h1:first-letter{
	font-size:30px;
	color:#ef9d1f;
	font-family: PragmaticaC, "Myriad Pro";
}

header, nav, main, footer {
    margin: 20px 0;
    border: 1px solid green;
}