@model FairyTale

<div>
    <div>@Html.ActionLink(Model)</div>
    <div>@Html.Raw(Model.Text)</div>

    <div>
        @foreach (var tag in Model.Tags) {
            @Html.ActionLink(tag.Title, "Single", "Tags", new { id = tag.Id }, null) 
        }
    </div>
</div>