@model FairyTale

<div>
    <h1>@Html.ActionLink(Model)</h1>
    <div>@Model.Text</div>

    <div>
        @foreach (var tag in Model.Tags) {
            @Html.ActionLink(tag.Title, "Single", "Tags", new { id = tag.Id }, new { @class="tag" }) 
        }
    </div>
</div>