@model FairyTale
@{ 
    var hrefClass = Model.IsBook ? "story-book" : "story";
}

<article>
    <header>
        <h2>@Html.ActionLink(Model, new { @class = hrefClass })</h2>
        @Html.Partial("Tags", Model.Tags)
    </header>

    @Html.Raw(Model.Teaser)

    <footer>
        @Html.Partial("FairyTaleSummary",
            new FairyTaleSummaryModel {
                FairyTale = Model,
                DisplaySharing = false,
                DisplayRead = true
            })
    </footer>
</article>