@model FairyTaleSummary

<ul class="summary">
    <li class="summary-item">
        <span class="clock" title="Примерное время для прочтения">@Model.EstimatedReadingMinutes мин.</span>
    </li>
    <li class="summary-item">
        <span class="likes" title="Понравилось">@Model.Likes</span>
    </li>
</ul>