@model FairyTale
@{
    var fairyTale = Model;

    var parent = fairyTale.Parent;
    var previous = fairyTale.Previous;
    var next = fairyTale.Next;

    var hasPrevious = previous != null;
    var hasNext = next != null;
}

<footer>
    <nav>
        <ul class="h-nav clearfix">
            @if (hasPrevious) {
                <li>
                    <i class="fa fa-arrow-left"></i>
                    @Html.ActionLink(previous)
                </li>
            }

            <li>
                <i class="fa fa-list"></i>
                @Html.Parent(parent)
            </li>

            @if (hasNext) {
                <li>
                    @Html.ActionLink(next)
                    <i class="fa fa-arrow-right"></i>
                </li>
            }
        </ul>
    </nav>
</footer>