@model TagsByTypeViewModel
@{
    var type = Model.Type;
    var tags = Model.Tags ?? new Dictionary<TagType, List<Tag>>();
}

@if (tags.ContainsKey(type)) {
    <section>
        <header>
            <h2>@Html.DisplayName(type)</h2>
        </header>

        <p class="tags">
            @foreach (var tag in tags[type]) {
                <span>(@tag.FairyTalesCount)</span>
                @Html.ActionLink(tag)
            }
        </p>
    </section>
}